body{
    margin: 0;
    overflow: hidden;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    position: relative;
    z-index: 1;
    font-family: Inter, sans-serif;
    font-size: 6vmin;
    background-color: #fff;
    min-height: 100vh;
    min-width: 100%;
    will-change: transform;
}
p{
    user-select: none;
}
.screenlog{
    z-index: 1;
    font-size: 6vmin;
    padding: 2vmin;
    font-family: 'Inter', sans-serif;
    font-feature-settings: "ss01";
    border-radius: 2vmin;
    user-select: none;
}


.peek-nav{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #563d7c;
}
.peek-nav-items{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.peek-nav-item{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.peek-nav-item svg{
    height: 30px;
    width: 30px;
}
.peek-nav-selector{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #b58cf3;
    border-radius: 500px;
    z-index: -1;
}